.grow-on-hover {
  transition: all .2s ease-in-out;
  
  :hover {
    transform: scale(1.06);
  }
}

.white-hover {
  :hover {
    color: white;
  }
}

.fix-scale {
  transform: scale(1.22);
}

.black-hover {
  :hover {
    color: black !important;
  }
}

.underline-hover {
  :hover {
    text-decoration: 'underline';
  }
}

.on-hover-grow {
  transition: all .2s ease-in-out;
  
  &:hover {
    transform: scale(1.06);
  }
}

.on-hover-grow-03 {
  transition: all .2s ease-in-out;
  
  &:hover {
    transform: scale(1.03);
  }
}

.grow-hover {
  transition: all .2s ease-in-out;
  
  :hover {
    transform: scale(1.02);
  }
}
